.searchBar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  margin-top: 84px;
  margin-bottom: 56px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.groupName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.selectWrapper {
  position: relative;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputPrefix {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  pointer-events: none;
  user-select: none;
}

.inputGroup {
  display: flex;
  flex-direction: row;
}

.minInput {
  border-right: 1px solid var(--gray-light);
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 12px 0 0 12px;
  background: var(--inputs);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);

  padding: 12px 16px 12px 60px;
  box-sizing: border-box;

  outline: none;
}

.maxInput {
  border-radius: 0 12px 12px 0;
  border: none;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  padding: 12px 16px 12px 40px;
  box-sizing: border-box;
  outline: none;
}

.minInput,
.maxInput {
  flex: 0 1 auto;
  max-width: 160px;
}

.minInput::-webkit-inner-spin-button,
.minInput::-webkit-outer-spin-button,
.maxInput::-webkit-inner-spin-button,
.maxInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn {
  margin-top: 24px;
  border-radius: 12px;
  padding: 12px 51px;
  background: var(--button);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  text-align: center;
  transition: all 0.2s ease;
}

.searchBtn:hover {
  transform: translateY(-1px);
  background: var(--button-hover);
}
