.loadBtn {
  display: flex;
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 51px;
  /* width: 156px; */
  height: 44px;
  margin: 0 auto;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-top: 80px;
  margin-bottom: 100px;
}
